/*-- scss:defaults --*/
// see all variables in https://bootswatch.com/5/sandstone/_variables.scss

// Colour system

$TerraLID-grey:        #E6E7E8 !default;
$TerraLID-black:       #231F20 !default;
$TerraLID-green:       #8FD2C6 !default;
$TerraLID-brown-dark:  #6C1F2C !default;
$TerraLID-brown-light: #A05D68 !default;
$TerraLID-orange:      #D8665D !default;
$TerraLID-red:         #FF0000 !default;
$TerraLID-blue-dark:   #1E406C !default;
$TerraLID-blue-light:  #5D799F !default;
$TerraLID-green-link:  #48B29E !default;
$TerraLID-green-link2: #69C3B2 !default;

$primary:       $TerraLID-blue-dark !default;
$secondary:     $TerraLID-grey !default;
$success:       $TerraLID-blue-light !default;
$info:          $TerraLID-blue-light !default;
$warning:       $TerraLID-brown-light !default;
$danger:        $TerraLID-red !default;
$light:         $TerraLID-grey !default;
$dark:          $TerraLID-black !default;

// set colours

$bg-color: $TerraLID-grey !default; 
$body-color: $TerraLID-black !default;

$progress-bg: $TerraLID-grey !default; 
$code-annotation-higlight-color: $progress-bg !default; 
$code-color: $TerraLID-brown-light !default;

$footer-fg: $TerraLID-black !default; 

$callout-color-note:      $info !default;
$callout-color-tip:       $success !default;
$callout-color-caution:   $TerraLID-orange !default;
$callout-color-warning:   $warning !default;
$callout-color-important: $danger !default;

$dropdown-link-color:               $dark !default;
$dropdown-link-hover-color:         $dropdown-link-color !default;
$dropdown-link-hover-bg:            $light !default;
$dropdown-link-active-color:        $dropdown-link-color !default;
$dropdown-link-active-bg:           $dropdown-link-hover-bg !default;

$nav-link-disabled-color:           $light !default;
$nav-tabs-border-color:             $light !default;
$nav-tabs-link-hover-border-color:  $light !default;

// set font

$font-family-sans-serif: "Nunito Sans",  Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
